In [1]:
import db

In [2]:
db.query("select 1")

┌───────┐
│   1   │
│ int32 │
├───────┤
│     1 │
└───────┘

In [3]:
db.query("select 1").fetchall()

[(1,)]

In [4]:
db.query("select 1").df()

   1
0  1